{{#errorlist.length}}
  <div class="error-summary" tabindex="-1">
    <div lang="en">
      <h2 class="heading-medium error-summary-heading">{{#t}}en.errorlist.title{{/t}}</h2>
      <ul class="error-summary-list">
        {{#errorlist}}
          {{#message}}
            <li><a href="#{{key}}-group">{{en}}</a></li>
          {{/message}}
        {{/errorlist}}
      </ul>
    </div>
    <div lang="ar">
      <h2 class="heading-medium error-summary-heading">{{#t}}ar.errorlist.title{{/t}}</h2>
      <ul class="error-summary-list">
        {{#errorlist}}
          {{#message}}
            <li><a href="#{{key}}-group">{{ar}}</a></li>
          {{/message}}
        {{/errorlist}}
      </ul>
    </div>
  </div>
{{/errorlist.length}}
