{{<layout}}


{{$propositionHeader}}
{{> partials-navigation}}
{{/propositionHeader}}

{{$title}}{{/title}}

{{$content}}

<h1 class='heading-large'>Terms and conditions</h1>
<h1>Receiving your electronic visa waiver</h1>

<p>You should get an email with a link to download your electronic visa waiver within 24 hours of submitting your form, unless anything on it needs clarifying.</p>
<h2>Using your electronic visa waiver</h2>
<p>An electronic visa waiver is valid for a single entry to the UK for up to 6 months for the purposes of tourism, business, study and medical care only.</p>
<p>It can only be used by the person named on it and all electronic visa waiver users, including children, must have their own electronic visa waiver document.</p>
<p>Before you travel you should print out your electronic visa waiver and show it when you board your plane, train or boat to the UK and at the UK border.</p>
<h2>Entry to the UK</h2>
<p>An electronic visa waiver doesn't guarantee entry into the UK; this is decided by immigration officers in the UK at your port of entry.</p>
<h2>False documents</h2>
<p>If you make an electronic visa waiver request using a false document, lie, or withhold relevant information you may be banned from coming to the UK for 10 years.</p>
<h2>Fees and payment</h2>
<p>There is a £15 non-refundable fee for an electronic visa waiver request. This can be paid by you or someone paying for you (eg an employer, relative or travel agent).</p>
<h3>Consumer Contracts (Information Cancellation and Additional Charges) Regulations 2013</h3>
<p>The provisions of the <a href="http://www.legislation.gov.uk/uksi/2013/3134/contents/made" target="_blank" rel="external">Consumer Contracts (Information Cancellation and Additional Charges) Regulations 2013</a> (as amended) shall not apply to the electronic visa waiver service.</p>
<h2>Clarifying your details</h2>
<p>You will get an email asking you for clarification if we find the details on your form do not match those on the passport photo you supplied, or if any of the other details need clarifying.</p>
<p>Once your details are confirmed you will be emailed a link to download your electronic visa waiver.</p>
<h2>Expiry of your electronic visa waiver request</h2>
<p>If you are asked to clarify the information on your electronic visa waiver form you must provide this information at least 48 hours before you travel. Otherwise it won’t be possible to issue your electronic visa waiver and your request will expire.</p>
<h2>Travelling under an incorrect electronic visa waiver</h2>
<p>You risk not being able to travel to the UK if the details on it are incorrect. You may not be allowed on your plane, train or boat and/or may be refused entry at the UK border.</p>
<p>While every effort will be made to make sure your electronic visa waiver document includes the correct information, it is your responsibility to make sure the information on your electronic visa waiver matches your passport and travel details exactly. The UK government is not responsible for any direct or indirect loss or damages if you are refused permission to travel.</p>
<h2>Changes to your electronic visa waiver information</h2>
<p>You can change the information on your electronic visa waiver, for example if you change your flight to the UK.</p>
<p>You must tell us at least 48 hours before either:</p>
<ul class="list-bullet">
<li>the departure date on your electronic visa waiver</li>
<li>your new travel date to the UK</li>
</ul>
<p>Whichever date is earlier. If you do not, it will not be possible to change your details and issue a new electronic visa waiver.</p>
<p>You can change your flight details a maximum of 2 times. You may be refused entry to the UK if you use an electronic visa waiver with incorrect details.</p>
<h2>Applying on someone's behalf</h2>
<p>Someone else can use the electronic visa waiver service for you if they have your full agreement.</p>
<p>Their answers will be taken as if you have given them, so you should be sure they have all the information they need to answer the questions accurately and truthfully.</p>
<h2>Use of information</h2>
<p>Your information will be used in line with the <a href="/privacy-policy" target="_blank" rel="external">Privacy policy</a> and <a href="/cookies" target="_blank" rel="external">Cookies</a>.</p>
<h2>Legal disputes</h2>
<p>Your use of the electronic visa waiver service is governed by the law of England and Wales.</p>
<p>We will not be held responsible for any direct or indirect loss or damages save for where liability cannot be excluded.</p>
<p>The rest of the terms and conditions won't be affected if a part of these terms and conditions is found to be unenforceable.</p>
<button onclick="window.close();" class="button" role="button" id="closeButton">Close</button>

{{/content}}

{{/layout}}
